@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display&family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Great Vibes", cursive;
}

body {
  background: linear-gradient(to bottom, #fff0f5, #ffffff);
}

.memory-section {
  max-width: 1000px;
  margin: auto;
  padding: 80px 20px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 80px;
  color: #ff6f91;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* Line giữa */
.line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background: #ffb6c1;
  transform: translateX(-50%);
  border-radius: 10px;
}

.memory-item {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  transition: all 0.8s ease;
}

.memory-item:nth-child(odd) {
  flex-direction: row-reverse;
}

/* Ảnh */
.memory-item img {
  width: 280px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Hover phóng to */
.memory-item img:hover {
  transform: scale(1.08);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.text {
  max-width: 350px;
}

.text h3 {
  color: #ff6f91;
  margin-bottom: 10px;
}

/* Ẩn ban đầu */
.hidden {
  opacity: 0;
  transform: translateY(40px);
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.popup-content {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  max-width: 300px;
  animation: fadeIn 0.4s ease;
}

.popup-content button {
  margin-top: 15px;
  border: none;
  background: #ff6f91;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.btn {
  margin-top: -32px;
  margin-bottom: 64px;
  padding: 12px 28px;
  font-size: 18px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #ff8a80, #ff5252);
  transform: translateY(20px);
  transition: 0.6s ease;
}
